<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.speedride.driver">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="com.google.android.gms.permission.AD_ID"
        tools:node="remove" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" /> <!-- Required to show current location -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-feature android:name="android.hardware.wifi" />
    <uses-sdk
        android:minSdkVersion="28" />

    <queries>
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE" />
        </intent>
    </queries>

    <application
        android:name="com.speedride.driver.app.AppController"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        tools:targetApi="31"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning">

        <activity
            android:name="com.speedride.driver.modules.userManagement.ui.activity.ShiftTimeActivity"
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:exported="false" />
        <activity
            android:name="com.speedride.driver.modules.home.ui.fragment.AboutFragment"
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:exported="false" />
        <activity
            android:name="com.speedride.driver.modules.chat.adminchat.AdminChatActivity"
            android:exported="false" />
        <activity
            android:name="com.speedride.driver.modules.home.ui.activity.HelpActivity"
            android:exported="false" />
        <activity
            android:name="com.speedride.driver.modules.chat.ChatActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeCustom" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.facebook.sdk.ClientToken"
            android:value="@string/facebook_client_token" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" /> <!-- google key -->
        <!-- Mttexibooking@gmail.com -->
        <!--
<meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCZ-2-s87r2oOFuCmRXopQ0y4J7j_sv7sk" />
        -->
        <!-- google key -->
        <!-- mttaxiapps@gmail.com -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
        <meta-data android:name="com.google.android.gms.version" /> <!-- for image capture and pickup -->
        <!-- android:value="@integer/google_play_services_version" -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" /> <!-- [START fcm_default_icon] -->
        <!--
 Set custom default icon. This is used when no icon is set for incoming notification messages.
             See README(https://goo.gl/l4GJaQ) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_launcher_foreground" />
        <!--
 Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" /> <!-- [END fcm_default_icon] -->
        <!-- [START fcm_default_channel] -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/app_name" /> <!-- [END fcm_default_channel] -->
        <!-- Firebase Notifications -->
        <service
            android:name="com.speedride.driver.fcm.MyFirebaseMessagingService"
            android:exported="true"
            android:stopWithTask="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name="com.speedride.driver.app.SplashActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:exported="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.speedride.driver.modules.home.ui.activity.HomeActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeCustom" />
        <activity
            android:name="com.speedride.driver.modules.auth.ui.activity.LoginActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:exported="false"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeCustom" />
        <activity
            android:name="com.speedride.driver.modules.auth.ui.activity.RegisterActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.speedride.driver.modules.auth.ui.activity.ForgotPasswordActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name="com.speedride.driver.modules.auth.ui.activity.VerifyMobileActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name="com.speedride.driver.modules.userManagement.ui.activity.SelectVehicleTypeActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.speedride.driver.modules.userManagement.ui.activity.AddVehicleDetailsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.speedride.driver.modules.userManagement.ui.activity.DocumentActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.speedride.driver.modules.userManagement.ui.activity.DocumentUploadActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.speedride.driver.modules.home.ui.activity.MainActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:exported="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.speedride.driver.modules.userManagement.ui.activity.EditProfileActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.speedride.driver.modules.ride.ui.activity.OnRideActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.speedride.driver.modules.userManagement.ui.activity.DocumentDisplayActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.speedride.driver.modules.userManagement.ui.activity.SettingsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.speedride.driver.modules.auth.ui.activity.ChangePasswordActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.speedride.driver.modules.ride.ui.activity.TripHistoryActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.speedride.driver.modules.home.ui.activity.ViewFullScreenImagesActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <service android:name="com.speedride.driver.utils.GPSTracker" /> <!-- Add the service created in services package ! -->
        <service android:name="com.speedride.driver.service.ServiceClass" />

        <receiver
            android:name="com.speedride.driver.broadcast_receiver.ReceiverClass"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
    </application>

</manifest>