<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>56404340443-phh8lsetcch73rb2e880hpuqhdf5gkbf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.56404340443-phh8lsetcch73rb2e880hpuqhdf5gkbf</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>56404340443-hpj93hnindosuq3dpfnlljfqsglcknk5.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCAl2ukTuqdQquGkLh30bloTICRkfcJ58k</string>
	<key>GCM_SENDER_ID</key>
	<string>56404340443</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.speedride.customer</string>
	<key>PROJECT_ID</key>
	<string>speedridecustomer</string>
	<key>STORAGE_BUCKET</key>
	<string>speedridecustomer.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:56404340443:ios:3d7be13e926681be9866fe</string>
</dict>
</plist>